@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

@layer components {
  .auth-layout {
    @apply relative m-auto bg-darkBlue rounded-md border-4 border-mantis w-11/12 h-4/6 grid md:w-4/5;

    @screen lg {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 1.2rem;
      width: 75%;
      height: 75%;
    }
  }

  .main-layout {
    @apply flex flex-col h-screen w-screen relative	bg-darkBlue text-white z-10;
  }

  .layout-with-bg-image {
    @apply flex flex-col h-screen w-screen fixed -z-10 top-0 left-0;
  }

  .img-overlay {
    @apply flex flex-col h-screen w-screen absolute z-10 bg-gradient-to-br from-fadedBlack1  to-fadedBlack1;
  }

  .auth-layout-img-wrapper {
    @apply relative h-full;
  }

  .auth-layout-img-overlay {
    @apply absolute top-0 left-0 right-0 bottom-0 z-10 bg-gradient-to-br from-fadedBlack1 to-fadedBlack2;
  }

  .form-wrapper {
    @apply absolute flex flex-col items-stretch justify-center w-full h-full z-20;

    @screen lg {
      position: relative;
      padding: 2rem 1.2rem 2rem 0;
    }
  }

  .form {
    @apply flex flex-col rounded-lg p-3;

    @screen lg {
      border: 4px solid theme(colors.mantisDarker);
    }
  }

  .header {
    @apply bg-lighterBlue text-white border-b-4 border-mantis flex items-center p-3;
  }

  .navigation {
    @apply flex items-center ml-auto;
  }
}
